.jvp-target {
    display: inline-block;
    height: 100vh;
    width: 100vw;
}

.jvp-nav .active-step {
    color: blue;
}

.jvp-nav span {
    display: none;
}

.jvp-nav {
    position: fixed;
    padding: 0;
    width: 100%;
    text-align: right;
    list-style: none;
}

.jvp-nav li {
    display: inline;
    padding: 2em;
}

.jvp-nav li a {
    text-decoration: none;
}

.jvp-links {
    display: none;
}

