.jvp-target {
    display: inline-block;
    height: 100vh;
    width: 100vw;
}

.jvp-nav-container { 
  position: fixed;
}

.jvp-nav-container li { 
  /* Makes a horizontal row */
  float: left; 
	
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; 
}
.jvp-nav-container:not(a.jvp-active) {
  border-bottom: solid thin #0093d0; 
}
.jvp-nav-container a.jvp-active {
  color: #0093d0;
  background: white;
  border-top: solid thin #0093d0; 
  border-right: solid thin #0093d0; 
  border-left: solid thin #0093d0; 
}
.jvp-nav-container a { 
  /* Make them block level
     and only as wide as they need */
  float: left; 
  padding: 10px 40px; 
  text-decoration: none;
  
  /* Default colors */ 
  color: black;
  background: lightgray; 
  
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}
.jvp-nav-container .jvp-active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.jvp-nav-container .jvp-active a { 
  /* Colors when tab is active */
  background: white; 
  color: black; 
}
.jvp-nav-container li:before, .jvp-nav-container li:after, 
.jvp-nav-container li a:before, .jvp-nav-container li a:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
   tabs need pseudo elements at all */
.jvp-nav-container li:last-child:after,   .jvp-nav-container li:last-child a:after,
.jvp-nav-container li:first-child:before, .jvp-nav-container li:first-child a:before,
.jvp-nav-container .jvp-active:after,   .jvp-nav-container .jvp-active:before, 
.jvp-nav-container .jvp-active a:after, .jvp-nav-container .jvp-active a:before {
  content: "";
}
.jvp-nav-container .jvp-active:before, .jvp-nav-container .jvp-active:after {
  background: white; 
  
  /* Squares below circles */
  z-index: 1;
}

.jvp-nav-container li a:before {
  left: -20px;
}
.jvp-nav-container li a:after {
  right: -20px;
}
